
# ======================
# Environment Variables
# ======================

# Environment variables file (contains secrets and API keys)
.env

# ======================
# Avatar Uploaded by Users
# ======================

uploads/

# ======================
# Node.js & Fastify
# ======================

# Dependencies installed via npm or yarn
node_modules/

# Compiled and minified files
dist/

# Build artifacts generated for deployment
build/

# ======================
# IDE and Editor Configs
# ======================

# VSCode editor settings and extensions
.vscode/

# macOS system file (not needed in repositories)
.DS_Store

# auto-formatting file
.prettierrc

# ======================
# Logs and Debugging
# ======================

# Logs folder for application logs
logs/
*.log

# Log file generated when npm encounters an issue
npm-debug.log

# ======================
# SQLite Database
# ======================

# Folder for SQLite database storage
data/

# SQLite database files
*.sqlite

# ======================
# Docker
# ======================

# # Docker ignore file
# .dockerignore

# Local override for docker-compose setup
docker-compose.override.yml

# ======================
# Temporary & Local Files
# ======================

# Local folder for personal notes, tests, or temp files
_local/

# Temporary files (wildcard to match any file prefixed with tmp)
tmp*
